$bg-main: #fff;
$primary: #000000;
$secondary: #ff9b51;
$whiteColor: #fff;
$bodyColor: #86878b;
$bgGray: #f5f5f5;
$borderColor: #ccc;
$placeholder: #bdbdbd;

// Font
$font-main: 'Open Sans', sans-serif;
$font-second: 'Raleway', sans-serif;
$transition: 0.3s all ease-in-out;
$box-shadow: 0 10px 20px 12px rgb(0 0 0 / 20%);
